@model charolis.Models.RegUser
@{
    ViewBag.Title = "Створити користувача";
}

<h2>@ViewBag.Title</h2>

<form asp-action="CreateRegUser" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" required />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" required />
    </div>
    <div>
        <label>Пароль</label>
        <input name="password" type="password" required />
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" required />
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" required />
    </div>
    <button type="submit">Створити</button>
</form>

<a asp-action="RegUsers">⬅ Повернутися назад</a>
